<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= typeof title !== 'undefined' ? title : 'Ballroom Management App' %></title>

 <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/styles.css">
</head>

<body class="dashboard-bg">
  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="link-white" href="/">Ballroom</a>
    </div>
    <div class="navbar-nav">
        <% if (user.isOrganizer) { %>
        <a class="nav-link" href="/users">Users</a>
        <% } %>

        <a class="nav-link" href="/competitions">Competitions</a>

        <% if (user.isDancer) { %>
          <a class="nav-link" href="/dashboard/dancer">Dancer Dashboard</a>
        <% } %>

        <% if (user.isOrganizer) { %>
          <a class="nav-link" href="/dashboard/organizer">Organizer Dashboard</a>
        <% } %>
        
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>