<%- include('partials/header') %>

<main class="dashboard-wrapper">
  
  <header class="welcome-banner">
      <h1 class="page-title fw-bold" style="font-size: 2.5rem; margin-bottom: 10px;">
      Welcome to the Ballroom Management System</h1>
      <p class="lead-custom" style="text-align: center; margin-bottom: 40px; color: #F0F8FF;">Easily manage competitions, events, and participants — all in one place.</p>
    </div>
  </header>

  <div class="card-grid-custom">

    <div class="card-grid-item">
      <div class="content-card h-100">
        <div class="card-body-custom text-center">
          <h5 class="card-title-header">Competitions</h5>
          <p class="card-text" style="color: #F0F8FF;">Create and manage ballroom competitions.</p>
          <a href="/competitions" class="btn view-btn">View Competitions</a>
        </div>
      </div>
    </div>

    <% if (user.isDancer) { %>
      <div class="card-grid-item">
        <div class="content-card h-100">
          <div class="card-body-custom text-center">
            <h5 class="card-title-header">Dancer Dashboard</h5>
            <p class="card-text" style="color: #F0F8FF;">View your registered events.</p>
            <a href="/dashboard/dancer" class="btn view-btn">My Dashboard</a>
          </div>
        </div>
      </div>
    <% } %>

   <% if (user.isOrganizer) { %>
      <div class="card-grid-item">
        <div class="content-card h-100">
          <div class="card-body-custom text-center">
            <h5 class="card-title-header">Organizer Dashboard</h5>
            <p class="card-text" style="color: #F0F8FF;">Manage your competitions and participants.</p>
            <a href="/dashboard/organizer" class="btn view-btn">My Dashboard</a>
          </div>
        </div>
      </div>
      <div class="card-grid-item">
        <div class="content-card h-100">
          <div class="card-body-custom text-center">
            <h5 class="card-title-header">Users</h5>
            <p class="card-text" style="color: #F0F8FF;">Manage registered users and participants.</p>
            <a href="/users" class="btn view-btn">View Users</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  </main>

<%- include('partials/footer') %>